doctype
html
  head
    title= "Real time web chat with David Pardy"
    script(src='/chat.js')
    link(rel='stylesheet', href='/chat.css') 
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  body
    #content
    .controls
      input#name(placeholder='Enter your name here...')
      br
      input#field(placeholder='Chat here...')
      input#send(type='button', value='send')
